.event {
  background-color: bisque;
  display: flex;
  width: 22rem;
  margin: 1rem 0;
}
.image {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 214, 161);
}
.eventInfo {
  border: 1px solid red;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* height: 100%; */
  align-items: flex-start;
}
.eventInfo > * {
  margin: 0;
  padding: 0;
}
.button {
  align-self: flex-end;
  padding: 0.25rem;
  /* justify-self: flex-end; */
  /* margin: 0.25rem; */
}
